.app-ul {
  display: flex;
  flex-direction: column;
  @media(min-width: $desktop-breakpoint) {
    align-items: bottom;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    li {
      display: flex;
      width: 100%;
      margin-bottom: 0.5rem;
      
      p {
        width: 70%;
        padding-right: 3rem;
        font-family: 'Courier New', Courier, monospace;
        word-break: break-all;
      }
      button {
        width: 30%;
        max-height: 2rem;
        
      }
    }
  }
  
}
