.app-ul {
  display: flex;
  flex-direction: column;
  @media(min-width: $desktop-breakpoint) {
    align-items: bottom;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    li {
      display: flex;
      width: 100%;
      margin-bottom: 0.5rem;
      
      p {
        border: 1px solid #DB9726;
        border-radius: 3px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 0;
        padding-right: 3rem;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        width: 60%;
        word-break: break-all;
      }
      button {
        width: 30%;
        max-height: 2rem;
      }
    }
  }
  
}
