.app-ul {
  display: flex;
  flex-direction: column;
  @media(min-width: $desktop-breakpoint) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 30%; 
    li {
      display: flex;
    }
  }
  
}