.button { 
  border: none;
  color: white;
  background: $off-violet;  
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  font-size: $font-size-small;
  padding: $s-size;
  text-decoration: none;  
  @media(min-width: $desktop-breakpoint) {
      font-size: $font-size-large;
  } 
}
.button--link {
  background: none;
 
}

.button--secondary {
  background: #888888;
}
