.component-box {
  display: flex;
  flex-direction: column;
  font-size: font-size-x-small;
  min-height: 80%;
  @media(min-width: $desktop-breakpoint) {
    p {
      text-align: center;
    }
  };
  padding: $xs-size;
  h1 {
    display: flex;
    align-self: center;
  }

}