.list {
  display: block;
  input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  button {
    width: 100%;
    background-color: #046ec8;
    color: white;
    font-weight: 500;
    font-family: fantasy;
    border-style: none;
    border-radius: 5px;
  }
}