.component-box {
  display: flex;
  flex-direction: column;
  font-size: font-size-x-small;
  min-height: 80%;
  height: 100vh;
  @media(min-width: $desktop-breakpoint) {
    p {
      margin: 0 auto;
      text-align: justify;
      text-justify: auto;
    }
  };
  h2 {
    display: flex;
    align-self: center;
    margin: 0;
  }
}

.component-box-1 {
  background: url('/images/warsaw-vistula.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: start;
  padding: 0 5%;
  width: 100vw;
  @media(max-width: $desktop-breakpoint) {
    min-height: 20%;
    max-height: 50%;
  }
}

.component-box-1-a {
  h3 {
    margin: 0;
  }
  p {
    font-size: $font-size-small;
    margin: 0;
  }
  padding: 0 10%;
}

.component-box-2 {
  color: $grey;
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
  }
  padding: 10% 15%;
}
.component-box-2 div {
  display: flex;
  flex-direction: row;
}
.link-image {
  border-bottom: 1px solid $off-purple ;
  margin-top: 2vh;
  padding: 2vh 0 1vh 0;
  max-width: 100%;
  max-height: 7vh;
}
.link-image a {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-decoration: none !important;
}

.link-image img {
  height: 100%;
  width: 10%;
}
.component-box-2 span {
  color: $grey;
  padding-left: 2.8rem;
  display: flex;
  align-items: flex-end;
  text-decoration: none !important;
}
