.description-box {
  padding-left: 5vw;
  @media(min-width: $desktop-breakpoint) {
    padding: 0 0 5vh;
    margin: 0;
    align-self: center;
    max-width: 50%;
    
  }
}

.description-box h3   {
  margin: 0;
}

.description-box p {
  margin: 0;
  width: 100%;
  font-weight: 1000;
}

.page-description {
  width: 100%;
  @media(max-width: $desktop-breakpoint) {
    font-size: 1.2rem;
  }
}