.explenation-box {
  background: white;
  border-radius: 5px;
  border: solid 1px $off-orange; 
  color: $off-grey;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  padding: 2rem;
  @media(max-width: $desktop-breakpoint) {
    font-size: 1.2rem;
  }
}