$defaultDuration: .3s;


@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.footer {

  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // margin-top: 10rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding-top: 0;
  background-color: #efefef;
  max-width: 150vw;
  
  &:hover {
    box-shadow: 0 0 2rem gray;
  }
  flex: 0 1 auto;
}

.grow {
  display: inline-block;
  margin: 0;
	transition-duration: $defaultDuration;
	transition-property: transform;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		transform: scale(1.5);
	}
}

.tech-picture {
  max-width: 1rem;
  max-height: 2.5rem;
  @media(min-width: $desktop-breakpoint) {
    max-height: 1.5rem;
    max-width: 2.5vw;
  }
}

.tech-picture img {
  height: 100%;
  width: 100%;
}