.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 50%;
  flex: 1 1 auto;
  @media(max-width: $desktop-breakpoint) {
    max-width: 80%;
  }
}
.header {
  background: $dark-blue;
  max-width: 100%;
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}
.header__title {
  color: white;
  text-decoration: none;
  p {
    margin: 0;
    font-size: $font-size-small;
  }
  @media(min-width: $desktop-breakpoint) {
      p {
        font-size: $font-size-large;
      }
  }
}