
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $dark-blue;
  font-weight: 700;
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}
.header__title {
  color: white;
  text-decoration: none;
  p {
    margin: 0;
    font-size: $font-size-small;
   }
  @media(min-width: $desktop-breakpoint) {
      p {
        font-size: $font-size-large;
      }
  }
}
