
.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: $grey;
  font-weight: 700;
  overflow: hidden;
  box-shadow: 0 1px 1px  black;
 }
.header__content {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  @media(max-width: $desktop-breakpoint) {
    width: 100%;
    justify-content: space-around;
  }
}
.header__content a {
  @media(max-width: $desktop-breakpoint) {
    margin: 0;
  }
}
.header__title {
  display: flex;
  color: white;
  flex-direction: row;
  text-decoration: none;
  margin: 1rem;
  p {
    margin: 0;
    font-size: $font-size-small;
   }
  @media(min-width: $desktop-breakpoint) {
      p {
        font-size: $font-size-large;
      }
  }
  @media(max-width: $desktop-breakpoint) {
    max-width: 65vw;
  }
}
.header__title img {
  margin-right: 2rem;
}

.logo {
  max-width: 3rem;
  max-height: 3rem;
}